@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  max-width: 1000px;
  height: 100vh;
}

/* Custom Scrollbar Styling */
.rates-carousel::-webkit-scrollbar {
  height: 8px; /* Adjust the height of the scrollbar */
}

.rates-carousel::-webkit-scrollbar-thumb {
  background-color: #373e4d; /* Blue color for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.rates-carousel::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}